@tailwind base;
@tailwind components;
@tailwind utilities;


.rdrDefinedRangesWrapper{
    display: none  !important;
}


@layer components {
    .text-area {
      @apply flex flex-col justify-around w-full h-32 my-2  mx-auto border-2 rounded-lg border-zinc-900
    }
    .text-area-large {
        @apply flex flex-col justify-around w-full h-64 my-2  mx-auto border-2 rounded-lg border-zinc-900
      }
    .checkbox-left{
      @apply flex   w-full  mx-auto my-2 
    }
    .checkbox-right{
      @apply flex justify-end  w-full  mx-auto my-2 
    }
    .button-green{
      @apply ml-3 py-1  w-28 border-2 rounded-lg  bg-green-200
    }   
     .button-red{
      @apply ml-3  py-1  w-28 border-2 rounded-lg  bg-red-300
    }
    .button-blue{
      @apply ml-3 py-1   w-28 border-2 rounded-lg bg-blue-300
    }
    .button-gray{
      @apply ml-3 py-1   w-28 border-2 rounded-lg bg-stone-300
    }
    .input-full{
      @apply flex flex-col justify-around w-full h-16 my-2  mx-auto border-2 rounded-lg border-zinc-900
    }
    .input-30{
      @apply flex flex-col justify-around w-[30%] h-16 my-2  mx-auto border-2 rounded-lg border-zinc-900
    }
    .vertical{
     @apply flex flex-col justify-center
    }
    .blur-hover{
      @apply text-white  h-full w-full  opacity-0 hover:opacity-100 backdrop-blur-sm  
    }
  
  }

  @layer utilities {
    .h-800 {
      height: 800px;
    }
    .h-700 {
      height: 700px;
    }
    .h-600 {
      height: 600px;
    }
    .h-500 {
      height: 500px;
    }
    .h-516 {
      height: 516px;
    }
    .h-250 {
      height: 250px;
    }
    .w-1440 {
      width: 1440px
    }
    .w-900 {
      width: 900px
    }
    .w-800 {
      width: 800px
    }
    .w-700 {
      width: 700px
    }
    .w-600 {
      width: 600px
    }
    .w-480 {
      width: 466px
    }
    .w-400 {
      width: 400px
    }
    .w-300 {
      width: 300px
    }
    .max-w-1440 {
      max-width: 1440px;
    }

    .min-h-10{
      min-height: 40px
    }
    .text-shadow {
      text-shadow: 1px 1px 2px black;
    }

    .text-shadow-light {
      text-shadow: 1px 1px 3px black;
    }


  }