body{
  color: #1b1b1bdf;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}
.rdrDateRangePickerWrapper{
  width: 500px;
  margin-bottom: 90px !important;
}

.rdrDateRangeWrapper{
  width: 100%;
}


.rdrMonth{
  width: 100% !important;
}

.rdrDateDisplayWrapper {
  background-color: #57bdc8a1 !important;
  border-radius: 10px;
}

.rdrStartEdge, .rdrInRange, .rdrEndEdge{
  color:#57bdc8 !important;
}

.custom-icon{
  border: none !important;
  width:100% !important;
  margin-top: 32px !important
}

.error-icon{
  border: none !important;
  width:100% !important;
}

.error-confirm-button{
  width:100% !important;
  margin-top: 16px !important;
}

.error-actions{
  width: 128px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.limit-icon{
  border: none !important;
  width:100% !important;
  margin-top: 48px !important
}

.limit-confirm-button{
  width:100% !important;
  margin-top: 36px !important;
}

.limit-actions{
  width: 128px !important;
}


.save-title{
  width: 384px !important;
}

.save-icon{
  border: none !important;
  width:100% !important;
  margin-top: 56px !important;
}

.save-button{
  width: 112px !important;
  margin: 20px 8px !important ;
  border: none !important;
  letter-spacing: 0.05em !important;
}
.save-actions{
 width: 256px !important;
 height: 80px !important;
 margin-top: 48px !important;
 display: flex !important;
 flex-direction: row-reverse !important;
}

.react-joyride__tooltip{
  color: #1b1b1bdf !important;
}

.react-joyride__tooltip > div {
  margin-top: 10px !important;
}

.react-joyride__tooltip > div > div{
  padding: 15px 10px 5px 10px !important;
}

.react-joyride__tooltip h4{
  font-size: 28px !important;

}


@tailwind base;
@tailwind components;
@layer utilities {

  .shape {

    clip-path: polygon(
      20px 0, calc(100% - 20px) 0, 100% 20px, 
      100% calc(100% - 20px), calc(100% - 20px) 100%, 
      20px 100%, 0 calc(100% - 20px), 0 20px
    );  

  }

}

@tailwind utilities;



@layer components {
  .text-area {
    @apply flex flex-col justify-around  w-full h-32 my-2 mx-auto border-4 rounded-lg border-[#94bed1] ;
  }
  .text-area-large {
    @apply flex flex-col justify-around w-full h-64 my-2  mx-auto border-4 rounded-lg border-[#94bed1] ;
  }
  .checkbox-left {
    @apply flex   w-full  mx-auto my-2;
  }
  .checkbox-right {
    @apply flex justify-end  w-full  mx-auto my-2;
  }
  .button-orange {
    @apply ml-3 py-1  w-28 h-12 rounded-lg   bg-[#f4cd7f] text-white text-shadow-btn text-lg tracking-wider hover:scale-105 ease-in-out;
  }
  .button-red {
    @apply mx-3  py-1  w-28 h-12 rounded-lg   bg-[#f08074]  text-white text-shadow-btn text-lg tracking-wider hover:scale-105 ease-in-out;
  }
  .button-blue {
    @apply ml-3 py-1   w-28 h-12 rounded-lg bg-[#57bdc8]  text-white text-shadow-btn text-lg tracking-wider hover:scale-105 ease-in-out;
  }
  .button-gray {
    @apply ml-3 py-1   w-28 h-12 rounded-lg bg-stone-300  text-white text-shadow-btn text-lg tracking-wider hover:scale-105 ease-in-out;
  }
  .input-full {
    @apply flex flex-col justify-around w-full h-16 my-2  mx-auto border-4 rounded-lg border-[#94bed1]  ;
  }
  .input-30 {
    @apply flex flex-col justify-around w-[30%] h-16 my-2  mx-auto border-4 rounded-lg border-[#94bed1] ;
  }
  .vertical {
    @apply flex flex-col justify-center;
  }
  .blur-hover {
    @apply text-white  h-full w-full  opacity-0 hover:opacity-100 backdrop-blur-sm;
  }
  .header__container{
    @apply flex fixed w-full top-0 left-0 my-0 z-30 rounded-b-lg border-gray-200 bg-white cursor-pointer justify-center border-b-2 sm:justify-start sm:border-b-0
  }
}

@layer utilities {
  

  .h-250 {
    height: 250px;
  }
  .h-500 {
    height: 500px;
  }
  .h-516 {
    height: 516px;
  }
  .h-600 {
    height: 600px;
  }
  .h-700 {
    height: 700px;
  }
  .h-800 {
    height: 800px;
  }

  .w-300 {
    width: 300px;
  }
  .w-400 {
    width: 400px;
  }
  .w-480 {
    width: 466px;
  }
  .w-550 {
    width: 550px;
  }
  .w-600 {
    width: 600px;
  }
  .w-650 {
    width: 650px;
  }
  .w-700 {
    width: 700px;
  }
  .w-800 {
    width: 800px;
  }
  .w-900 {
    width: 900px;
  }
  .w-1440 {
    width: 1440px;
  }

  .max-w-530 {
    max-width: 530px;
  }

  .max-w-1440 {
    max-width: 1440px;
  }

  .min-h-10 {
    min-height: 40px;
  }
  .min-w-30 {
    min-width: 120px;
  }
  .min-h-200 {
    min-height: 800px;
  }

  .text-shadow {
    text-shadow: 1px 1px 2px black;
  }
  .text-shadow-light {
    text-shadow: 1px 1px 3px gray;
  }

  .text-shadow-btn {
    text-shadow: 1px 1px 3px #424242;
  }
  
  .loader div {
    animation-duration: 0.5s;
  }

  .loader div:first-child {
    animation-delay: 0.1s;
  }

  .loader div:nth-child(2) {
    animation-delay: 0.3s;
  }

  .loader div:nth-child(3) {
    animation-delay: 0.6s;
  }
}
